<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="importmap">
      {
        "imports": {
          "three": "./build/three.module.js",
          "three/examples/jsm/controls/OrbitControls":"./jsm/controls/OrbitControls.js",
          "three/examples/jsm/libs/stats.module":"./jsm/libs/stats.module.js",
          "GLTFLoader":"./jsm/loaders/GLTFLoader.js",
          "lil-gui":"./dist/lil-gui.esm.js"
        }
      }
  </script>
    <script type="module" src="javascripts/scene.js"></script>
  </head>


<nav>

</nav>