<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel='stylesheet' src='../../public/stylesheets/style.css'/>
  </head>


  <nav class="nav_container">
      <a href="/discover">Discover</a>
      <% if (user) { %>
        <a href="/wishlist">Wish List</a>
        <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/auth/google" class="login">Log In</a>
      <% } %>
      </a>
  </nav>
