<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
  </head>


<nav class="nav_container">
    <a href="">Discover</a>
    <% if (user) { %>
      <a href="/wishlist">Wish List</a>
      <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/auth/google" class="login">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
    </a>
</nav>
