<%- include('../partials/header') %>
<body>
  <script type="importmap">
    {
      "imports": {
        "three": "./build/three.module.js",
        "three/examples/jsm/loaders/GLTFLoader": "./jsm/loaders/GLTFLoader.js",
        "three/examples/jsm/controls/OrbitControls": "./jsm/controls/OrbitControls.js",
        "three/examples/jsm/libs/stats.module": "./jsm/libs/stats.module.js",
        "lil-gui": "./dist/lil-gui.esm.js"
      }
    }
  </script>  
  <script type="module" src="javascripts/discoverPage.js"></script>

<h1>FEATURED PRODUCT</h1>

  <div class="discover_container">

    <table>
    <tbody>
      <% products.forEach(function(p) { %>
        <tr>
          <td><%= p.sku %></td>
          <td><%= p.product_name %></td>
          <td><a href="/discover/<%= p.sku %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>  
  <div>


</body>
